*{margin:0px;padding: 0px;}
.index-main{
    margin-bottom: -102px;
    min-height: 100%;
}
div{display: block;}
.index-a{
    margin:auto;
    width: 300px;
    text-align: center;
}
@media (max-width: 740px)
.index-a .logo{
    width: 96px;
    height:44.4px;
    margin: 0px auto;
    background: url(img/logo.6837e927.png) no-repeat;
    background-size: contain;
}
.index-a .subtitle {
    margin: 30px 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
}
.index-main-body{
    margin: auto;
    padding: 30px 0 102px;
    width: 300px;
}
.sign-flow{
    text-align: center;
}
.nava{
   width: 150px;height:40px;text-align: center;
}
.navb{
    width: 150px;height:40px;text-align: center;
}
.index-tab-navs{
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}
.index-tab-navs .navs-slider{
        position: relative;
        display: inline-block;
}
.index-tab-navs .navs-slider .navs-slider-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0 .8em;
        width: 2.4em;
        height: 2px;
        background: #0f88eb;
        transition: left .15s ease-in;
}
.index-tab-navs a{
    float: left;
    width: 4em;
    line-height: 35px;
    transition: opacity .15s,color .15s;
    text-decoration: none;
}
.view{
    float: none;
    margin: auto;
    width: 300px;
    text-align: left;
}
.view .group-inputs {
        padding: 1px 0;
        border-radius: 3px;
    }
.view .input-wrapper {
        position: relative;
        margin: 0;
        overflow: hidden;
        border:1px solid #d5d5d5;
    }
.view .name{
    border-bottom: 0px;
}
.view .email{
    border-bottom: 0px;
}
.view .input-wrapper input {
        padding: 1em .8em;
        width: 100%;
        box-sizing: border-box;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        background: #fff;
    }
.sign-button {
    background: #0f88eb;
    box-shadow: none;
    border: 0;
    width: 100%;
    border-radius: 3px;
    line-height: 41px;
    color: #fff;
    margin-top: 20px;
}
.view .agreement-tip {
    margin-top: 21px;
    font-size: 13px;
    text-align: center;
    color: #999;
    }
.view .agreement-tip {
    margin-top: 21px;
    font-size: 13px;
    text-align: center;
    color: #999;
    }
.view .signuo-entry {
    display: inline-block;
    margin-top: 21px;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #0f88eb;
    }
.xiazaiapp{
    display: block;
    padding: 0;
    width: 100%;
    height: 41px;
    line-height: 39px;
    color: #5fa6e5;
    background: 0 0;
    border: 1px solid #96c2e9;
    border-radius: 3px;
    cursor: pointer;
    outline: 0;
    text-align: center;
    margin-top:20px;
}
.qrcode-container{
    width: 298px;
    height: 298px;
    background: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    text-align: center;
    position: relative;
    z-index: 10;

}
.qrcode-s1{
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    height:273px;
}
.qrcode-img-wrapper{
    margin: 0 auto 14px;
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
}
.qrcode-signin-container p {
    color: #595959;
    font-size: 13px;
    line-height: 18px;
}
.qrcode-container .qrcode-cut-button{
    position: absolute;
    width: 268px;
    left: 15px;
    bottom: 0;
    border-top: 1px solid #d5d5d5;
    line-height: 46px;
}
