*{margin:0px;padding: 0px;}
.index-main{
    margin-bottom: -102px;
    min-height: 100%;
}
div{display: block;}
.index-a{
    margin:auto;
    width: 300px;
    text-align: center;
}
@media (max-width: 740px)
.index-a .logo{
    width: 96px;
    height:44.4px;
    margin: 0px auto;
    background: url(img/logo.6837e927.png) no-repeat;
    background-size: contain;
}
.index-a .subtitle {
    margin: 30px 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
}
.index-main-body{
    margin: auto;
    padding: 30px 0 102px;
    width: 300px;
}
    .index-tab-navs a{
        color: #999999;
    }
    .index-tab-navs a:hover{
        color: black;
    }
.index-tab-navs a.active{
    opacity: 1;
    color: #0f88eb;
}
.sign-flow{
    text-align: center;
}
.sign-flow .view .agreement-tip a{
    color: #698ebf;
    text-decoration: none;
}
.sign-flow .view .signuo-entry{
    color: #0f88eb;
    text-decoration: none;
}
.nava{
   width: 150px;height:40px;text-align: center;
}
.navb{
    width: 150px;height:40px;text-align: center;
}
.index-tab-navs{
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    color: #555;
}
.index-tab-navs .navs-slider{
        position: relative;
        display: inline-block;
}
.index-tab-navs .navs-slider .navs-slider-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0 .8em;
        width: 2.4em;
        height: 2px;
        background: #0f88eb;
        -webkit-transition: left .15s ease-in;
        transition: left .15s ease-in;
}
.index-tab-navs .navs-slider[data-active-index="1"] .navs-slider-bar {
    left: 4em;
}
.index-tab-navs a{
    float: left;
    width: 4em;
    line-height: 35px;
    transition: opacity .15s,color .15s;
    text-decoration: none;
}
.view{
    float: none;
    margin: auto;
    width: 300px;
    text-align: left;
}
.view .group-inputs {
        padding: 1px 0;
        border-radius: 3px;
    }
.view .input-wrapper {
        position: relative;
        margin: 0;
        overflow: hidden;
        border:1px solid #d5d5d5;
    }
.view .name{
    border-bottom: 0px;
}
.view .email{
    border-bottom: 0px;
}
.view .input-wrapper input {
        padding: 1em .8em;
        width: 100%;
        box-sizing: border-box;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        background: #fff;
    }
.sign-button {
    background: #0f88eb;
    box-shadow: none;
    border: 0;
    width: 100%;
    border-radius: 3px;
    line-height: 41px;
    color: #fff;
    margin-top: 20px;
}
.sign-button:hover{
    background-color: #5ca5e8;
}
.view .agreement-tip {
    margin-top: 21px;
    font-size: 13px;
    text-align: center;
    color: #999;
    }
.view .agreement-tip {
    margin-top: 21px;
    font-size: 13px;
    text-align: center;
    color: #999;
    }
.view .signuo-entry {
    display: inline-block;
    margin-top: 21px;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #0f88eb;
    }
.xiazaiapp{
    display: block;
    padding: 0;
    width: 100%;
    height: 41px;
    line-height: 39px;
    color: #5fa6e5;
    background: 0 0;
    border: 1px solid #96c2e9;
    border-radius: 3px;
    cursor: pointer;
    outline: 0;
    text-align: center;
    margin-top:20px;
    position: relative;
    z-index: 11;
}
.qrcode-container{
    width: 298px;
    height: 298px;
    background: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    text-align: center;
    position: relative;
    z-index: 10;
}
.qrcode-s1 p {
        color: #595959;
        font-size: 13px;
        line-height: 18px;
  }
.qrcode-s1 p a{
    color: #5ca5e8;
    text-decoration: none;
}
.qrcode-s1 .qrcode-cut-button span a{
    color: #5ca5e8;
    text-decoration: none;
}
.qrcode-s1{
    height:273px;
}
.qrcode-img-wrapper{
    margin: 20px auto 14px;
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
}
.qrcode-signin-container p {
    color: #595959;
    font-size: 13px;
    line-height: 18px;
}
.qrcode-container .qrcode-cut-button{
    position: absolute;
    width: 268px;
    left: 15px;
    bottom: 0;
    border-top: 1px solid #d5d5d5;
    line-height: 46px;
}
.vvv .border-a{
    border-bottom: 1px solid #d5d5d5;
}
.vvv .sign-switch{
    margin-top: 20px;
}
.vvv .sign-switch-a1{
    padding: 0;
    font-size: 14px;
    color: #5ca5e8;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}
.vvv .sign-switch-a2{
    padding: 0;
    font-size: 14px;
    color: #999999;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}
.sign-switch-b{
    margin-top: 20px;
}
.vvv .sign-switch-a2:hover{
    color: #555555;
}
.vvv_b .input-wrapper .width_a{
    width: 200px;
}
.vvv_b .input-wrapper .send-code-button{
    width: 93px;
    padding: 1em 8px;
    line-height: 19px;
    color: #5ca5eb;
    background: #fff;
    border: 0;
    cursor: pointer;
    outline: 0;
}
.QRCode-card {
    position: absolute;
    left: -5px;
    bottom: 65px;
    width: 310px;
    height: 310px;
    color: #555;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .15);
    border-radius: 10px;
}
.QRCode-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    }